@model Fiap.Exercicio02.MVC.Models.Carro

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(c => c.Placa)
        @Html.TextBoxFor(c=>c.Placa)
    </div>
    <div class="form-group">
        @Html.LabelFor(c=> c.Descricao)
        @Html.TextAreaFor(c=>c.Descricao)
    </div>
    <div class="form-group">
        @Html.LabelFor(c=>c.Valor)
        @Html.TextBoxFor(c=>c.Valor)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(c=>c.ArCondicionado)
        @Html.LabelFor(c=>c.ArCondicionado)
    </div>
    <input type="submit" class="btn btn-primary" value="Cadastrar" />
}
